!!!5
html(lang="eng")
	head
		title Genesis
		meta(name="description", content="An open-source platform for analytics of software ecosystems")
		meta(name="keywords", content="open source, genesis, software, analytics, visualization")
		meta(http-equiv="content-type", content="text/html; charset=windows-1252")
		script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js")
		script(type="text/javascript", src="http://atelier.inf.usi.ch/~babazadm/sdegenesis/scripts/js/src/management.js")
		script(type="text/javascript", src="http://atelier.inf.usi.ch/~babazadm/sdegenesis/scripts/js/src/Trees.js")
		script(type="text/javascript", src="http://atelier.inf.usi.ch/~babazadm/sdegenesis/scripts/js/src/Sunbursts.js")
		script(type="text/javascript", src="http://atelier.inf.usi.ch/~babazadm/sdegenesis/scripts/js/src/Graph.js")
		script(type="text/javascript", src="http://atelier.inf.usi.ch/~babazadm/sdegenesis/scripts/js/src/node_data.js")
		script(type="text/javascript", src="http://atelier.inf.usi.ch/~babazadm/sdegenesis/scripts/js/src/edge_data.js")
		script(type="text/javascript", src="http://atelier.inf.usi.ch/~babazadm/sdegenesis/scripts/js/lib/mbostock/d3.js")
		script(type="text/javascript", src="http://atelier.inf.usi.ch/~babazadm/sdegenesis/scripts/js/lib/mbostock/d3.layout.js")
		script(type="text/javascript", src="http://atelier.inf.usi.ch/~babazadm/sdegenesis/scripts/js/lib/mbostock/lib/jquery/jquery.js")
		script(type="text/javascript", src="http://atelier.inf.usi.ch/~babazadm/sdegenesis/scripts/js/lib/mbostock/lib/jquery/jquery.min.js")
		
		link(type="text/css", rel="stylesheet", href="http://atelier.inf.usi.ch/~babazadm/sdegenesis/website/pages/style/style.css")
		link(type="text/css", rel="stylesheet", href="http://atelier.inf.usi.ch/~babazadm/sdegenesis/website/pages/style/scrollbar.css")
		link(type="text/css", rel="stylesheet", href="http://atelier.inf.usi.ch/~babazadm/sdegenesis/website/pages/style/jquery-ui-1.8.16.custom.css")
		link(type="text/css", rel="stylesheet", href="http://atelier.inf.usi.ch/~babazadm/sdegenesis/website/pages/style/overlay.css")
		
		link(type="text/css", rel="stylesheet", href="http://atelier.inf.usi.ch/~babazadm/sdegenesis/scripts/js/src/calendar/calendar.css")
		link(type="text/css", rel="stylesheet", href="http://atelier.inf.usi.ch/~babazadm/sdegenesis/scripts/js/src/stack.css")
		link(type="text/css", rel="stylesheet", href="http://atelier.inf.usi.ch/~babazadm/sdegenesis/website/pages/style/tooltip.css")
		link(type="text/css", rel="stylesheet", href="http://atelier.inf.usi.ch/~babazadm/sdegenesis/scripts/js/src/button.css")
		
		script(type="text/javascript")
			$(document).ready(function(){
				$("li.two a").click(function() {
					$("li.two").removeClass("selected");
					$(this).parents().addClass("selected");
					return false;
				});
			
				$( "#slidingUpTimeline" ).click(function() {
					$(this).toggleClass( "showami-la-timeline", 1000 );
					return false;
				});
			});
		
	body
		#main
			#logo
				#logotext
					h1
						a(href="/") SDE 
							span(class="logo_colour") Genesis
					h2 An open-source platform for analytics of software ecosystems

			#content-div

				div!= body

		//#bottompart
		//	p Copyright &copy; 2011 Genesis