.AuthorLabel {
 border-radius: 3px;
 padding: 2px;
 color: white;
 padding: 2px 2px 2px 2px;
 text-align: center;
}

#tt {
 position:absolute;
 display:block;
 z-index:20;
 }
 #tttop {
 display:block;
 height:5px;
 margin-left:5px;
 overflow:hidden;
 }
 #ttcont {
 display:block;
 padding:3px 3px 3px 3px;
 border-radius: 3px;
 margin-left:5px;
 background:#666;
 color:#fff;
 }
#ttbot {
display:block;
height:5px;
margin-left:5px;
overflow:hidden;
}
