/* {
border: 1px solid red;

} /**/

* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
}

body {
}

ul.Menu {
   /* background-color: #2D2D2D;*/
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#2D2D2D));
    
    border-bottom: 1px solid black;
    font-size: 18px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 990;
    height: 29px;
    font: Arial,sans-serif;
    color: #ddd;
    padding-top:10px;
}

.Menu li {
    display:inline;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 3px;
    margin-bottom:0;
}


.Menu li:hover {
 background-color: #666;
 
}

ul.Menu li a:hover {
    background-color: #666;
}

ul.Menu li a {
    color: #ddd;
    text-decoration: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.Branch:hover, .Root:hover, .node circle:hover {
    stroke: steelblue;
    stroke-width: 6.5px;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node {
    font: 9px sans-serif;
}

.node text {
    font-size:20px;
    stroke: #999;
    stroke-width: 0.2px;
}





.Branch {
    fill: #f60;
    stroke: steelblue;
    stroke-width: 2.5px;
    z-index:10;
    cursor: pointer;
}

.Root {
    fill: #d5d;
    stroke: steelblue;
    stroke-width: 2.5px;
    z-index:10;
    cursor: pointer;
    
}

.Branch text, .Root text {
    font-size:28px;
    stroke-width: 1.5px;
}

.Root text {
    stroke: #6A85C2;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}


#monitor {
    color: steelblue;
    margin-top: 49px;
    text-align: center;
    font-size: 40px;
}

#treename {
 margin-top: 2px;
    position: absolute;
      font-size: 40px;
      margin-left: 20px;
}

.Block {
    display:block
    
}

.Left {
    float:left;
}

.Right {
    float:right;
    clear:both;
    left: 280px;
    position: absolute;
    overflow:visible;
}

.List {
    margin-top: 20px;
    margin-left: 10px;
    list-style-type:none;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 600px;
    width: 250px;
}


.List li:hover {
    color: #eee;
    background: -webkit-gradient(linear, left top, right bottom, from(#d5d), to(#fff));
}




.List li { 
    color: #2D2D2D;
    cursor: pointer;
    font-size: 13px;
    margin-bottom: 3px;
    border: 1px solid #eee;
}

.List li:visited {
    color: #995;
}

#slider_controls {
  display:none;
  position: fixed;
  bottom:2%; 
  right:2%;
}